$effraFont:'DM Serif Display', serif;
$effraFont: $effraFont;

$purpleBlue: #353657;
$pink:#FFA8CF;
$turqoise: #63C8CE;
$darkTurquoise: #299ea5;



$effraFont: 'effra', sans-serif;



body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
	text-rendering: optimizeLegibility; 
	font-family: $effraFont;
	font-size: 16px;
	line-height: 24px;
    color: #fff;

    background: rgb(74,186,193);
    background: linear-gradient(337deg, rgba(74,186,193,1) 0%, rgba(115,103,183,1) 80%);
}

.logo {
    font-family: $effraFont;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav a{
    font-family: $effraFont;
    color: #fff;
    font-size: 18px;

    &:hover {
        text-decoration: none;
        color: #66e3eb;
    }

    &:active {
        color: #66e3eb;
    }
}

.footer nav a{
    font-family: $effraFont;
    color: $purpleBlue;
    font-size: 18px;

    &:hover {
        text-decoration: none;
        color: $turqoise;
    }

    &:active {
        color: $darkTurquoise !important;
    }
}


.grad-bg {
    //background: #7367B7
    background: rgb(75,63,142);
    background: linear-gradient(337deg, rgba(75,63,142,1) 0%, rgba(115,103,183,1) 100%);
}

h1 {
    font-size: 52px;
    line-height: 58px;
    margin: 0px 0px 20px 0px;
}

.mainHeader {
    font-family: $effraFont;
    font-size: 42px;
    line-height: 46px;
    margin: 0px 0px 15px 0px;
}

h2 {
    font-size: 26px;
    line-height: 36px;
}

.subHeader {
    font-size: 22px;
    line-height: 26px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    color: $purpleBlue;
    font-family: $effraFont;
    margin-bottom: 0;
    font-weight: 700;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-family: $effraFont;
    font-weight: 700;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.indexContactHeader, .indexContactP {
    font-family: $effraFont;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

.indexContactP {
    color: $turqoise;
    &:hover {
        color: $darkTurquoise;
        text-decoration: none;
    }
}

.main-icon svg {
    position: absolute;
    left: 0;
    right: 0;
    top: -130px;
    margin-left: auto;
    margin-right: auto;
}

.pink {
    color: $pink;
}

.white {
    color: #fff;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
}

.social-links {
    margin: 0;
    padding: 0;

    li{
        display: inline;
        margin-right: 20px;

        a {
            color: #353657;
            font-size: 24px;
            font-family: $effraFont;

            &:hover {
                text-decoration: none;
                color: #fff
            }
        }

        @media (max-width: 576px) {
            padding: 0 15px;
            margin-right: 0px;
        }

    }
    li:last-child{
        margin-right: 0px;
    }

    @media (max-width: 576px) {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}

/*
.work-tile  img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
*/

.text-overlay {
    position: absolute;
    bottom: 25px;
    left: 40px;
}

.skills-list ul{
    padding: 0;

    li {
        list-style-type: '- ';
        list-style-position: inside;
        margin-bottom: 5px;
    }
}

.intro-panel {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin-bottom: 0;
    }
}

.logo {
    font-size: 20px;
}

@media (max-width: 576px) {
    .tc-m {
        text-align: center !important;
    }

    .fw-m {
        width: 100%;
        display: block;
    }

    .hide-m {
        display: none !important;
    }

    .main-icon svg {
        position: absolute;
        left: 0;
        right: 0;
        top: -65px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: auto;
    }
 }

