$dmSerifDisplay:'DM Serif Display', serif;
$sourceFont: 'Source Sans Pro', sans-serif;

$purpleBlue: #353657;
$pink:#FFA8CF;
$turqoise: #4abac1;
$darkTurquoise: #299ea5;

body {
	background-color: #F4F4FE;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 400;
	text-rendering: optimizeLegibility; 
	font-family: $sourceFont;
	font-size: 15px;
	line-height: 22px;
    color: $purpleBlue;
}

.logo {
    font-family: $dmSerifDisplay;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 0;
}

nav a{
    font-family: $sourceFont;
    color: #fff;
    font-size: 18px;

    &:hover {
        text-decoration: none;
        color: $pink;
    }

    &:active {
        color: $pink !important;
    }
}

.footer nav a{
    font-family: $sourceFont;
    color: $purpleBlue;
    font-size: 18px;

    &:hover {
        text-decoration: none;
        color: $turqoise;
    }

    &:active {
        color: $darkTurquoise !important;
    }
}


.grad-bg {
    background: #4E5094;
}

h1 {
    font-family: $dmSerifDisplay;
    font-size: 52px;
    line-height: 58px;
    margin: 0px 0px 20px 0px;
}

.mainHeader {
    font-family: $dmSerifDisplay;
    font-size: 42px;
    line-height: 46px;
    margin: 0px 0px 15px 0px;
}

h2 {
    font-size: 26px;
    line-height: 36px;
}

.subHeader {
    font-size: 22px;
    line-height: 26px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    color: $purpleBlue;
    font-family: $dmSerifDisplay;
    margin-bottom: 0;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-family: $sourceFont;
    font-weight: 700;
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.indexContactHeader, .indexContactP {
    font-family: $dmSerifDisplay;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 0;
}

.indexContactP {
    color: $turqoise;
    &:hover {
        color: $darkTurquoise;
        text-decoration: none;
    }
}

.main-icon svg {
    position: absolute;
    left: 0;
    right: 0;
    top: -130px;
    margin-left: auto;
    margin-right: auto;
}

.pink {
    color: $pink;
}

.white {
    color: #fff;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
}

.social-links {
    margin: 0;
    padding: 0;

    li{
        display: inline;
        margin-right: 20px;

        a {
            color: #353657;
            font-size: 18px;
            font-family: $dmSerifDisplay;

            &:hover {
                text-decoration: none;
                color: $turqoise;
            }
        }

        @media (max-width: 576px) {
            padding: 0 15px;
            margin-right: 0px;
        }

    }

    @media (max-width: 576px) {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}

.work-tile  img{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.text-overlay {
    position: absolute;
    bottom: 25px;
    left: 40px;
}

.skills-list ul{
    padding: 0;

    li {
        list-style-type: '- ';
        list-style-position: inside;
        margin-bottom: 5px;
    }
}

@media (max-width: 576px) {
    .tc-m {
        text-align: center !important;
    }

    .fw-m {
        width: 100%;
        display: block;
    }

    .hide-m {
        display: none !important;
    }

    .main-icon svg {
        position: absolute;
        left: 0;
        right: 0;
        top: -65px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: auto;
    }
 }

