<div class="row no-gutters">
    <div class="col text-center grad-bg py-5 mb-5">
        {{#if mainIcon}}
        <div class="row no-gutters">
            <div class="main-icon">
                <SvgDevicesIcon />
            </div>
        </div>
        {{/if}}
        <div class="row no-gutters">
            <div class="col-md-8 offset-md-2">
                <h1 class="white">{{mainHeader}}</h1>
                <h2 class="white">{{subHeader}}</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <button {{action "seeMoreClicked" }} type="button" title="See my work" class="btn button button__turqoise">See my work</button>
            </div>
        </div>
    </div>
</div>