<div class="container">
<div class="d-flex flex-column flex-md-row align-items-center my-8">
  <h5 class="my-0 mr-md-auto logo"><b>claire</b>mcintosh</h5>
  <nav>
    <a class="px-3" href="#">Home</a>
    <a class="px-3" href="#">Work</a>
    <a class="px-3" href="#">About</a>
    <a class="px-3" href="#">Contact</a>
  </nav>
</div>
</div>