<div class="row">
    <div class="col-12 mt-1-m">
        <div class="row">
            <div class="col">
                <ul class="social-links">
                    <li><a href="https://github.com/clairemcintosh88"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://dribbble.com/claire_mcintosh"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="https://twitter.com/claire_mcintosh"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/clairemcintosh/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="mailto:hello@claire-mcintosh.co.uk"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="col-12 col-sm-6 col-md-8 col-lg-6 col-xl-6 text-right tc-m footer">
        <MainNav />
    </div>-->
</div>
<div class="row">
    <div class="col mt-4 mb-3 tc-m mt-0-m">
        <p class="small mb-0">&copy; 2022 Claire McIntosh</p>
        
    </div>
</div>