<div class="row no-gutters">
  <div class="col-sm-12 col-md-6 tc-m">
    <h5 class="logo mb-2-m"><b>Claire</b> McIntosh</h5>
  </div>
  <div class="col-sm-12 col-md-6">
    <MainNav />
  </div>
</div>
