<nav class="mb-3-m">
  <LinkTo @route="index" class="px-3">Home</LinkTo>
  <LinkTo @route="work" class="px-3">Work</LinkTo>
  <LinkTo @route="about" class="px-3">About</LinkTo>
  <LinkTo @route="contact" class="px-3">Contact</LinkTo>
</nav>