<SectionTitle
    @titleText="What I do"
    @padding="pb-5"
/>

<div class="row">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4 text-center">
        <IconHeaderText 
            @icon="browsers-icon.svg"
            @iconWidth="108"
            @iconHeight="117"
            @header="Web &amp; UI design"
            @text="I am passionate about producing well designed responsive websites. I focus on the details of design that make the difference. I believe in good typography, hierarchy and fluid design that works beautifully across devices."
            @paddingIcon="px-4 pb-4"
            @paddingHeader="px-4 pb-2"
            @paddingText="px-4"
        />
    </div>

    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4 text-center">
        <IconHeaderText 
            @icon="mac-icon.svg"
            @iconWidth="108"
            @iconHeight="117"
            @header="Front End Development"
            @text="I build fast, scalable and bespoke websites, all to the latest web standards. I can look at a design and build it pixel perfect. I take great care ensuring the front end reflects the design, HTML &amp; CSS are my forte."
            @paddingIcon="px-4 pb-4"
            @paddingHeader="px-4 pb-2"
            @paddingText="px-4"
        />
    </div>

    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-4 text-center">
        <IconHeaderText 
            @icon="email-icon.svg"
            @iconWidth="120"
            @iconHeight="117"
            @header="Email Design &amp; Development"
            @text="I design and develop robust email templates for all your marketing needs. All of my designs are mobile freindly, are built to the latest standards and work across multiple email providers and devices."
            @paddingIcon="px-4 pb-4"
            @paddingHeader="px-4 pb-2"
            @paddingText="px-4"
        />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <button {{action "findOutMoreClicked" }} type="button" title="Find out more" class="btn button button__turqoise">Find out more</button>
    </div>
</div>
