<SectionTitle
    @titleText="Some of my work"
    @padding="pb-5"
/>

<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-5 work-tile">
        <div class="text-overlay">
            Mercedes-Benz
        </div>
        <img src="./images/mb-image.png" class="img-fluid" alt="" />
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-5 work-tile">
        <img src="./images/craig.png" class="img-fluid" alt="" />
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-5 work-tile">
        <img src="./images/loreal.png" class="img-fluid" alt="" />
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-5 work-tile">
        <img src="./images/virgin.png" class="img-fluid" alt="" />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <button {{action "findOutMoreClicked" }} type="button" title="See more work" class="btn button button__turqoise">See more work</button>
    </div>
</div>
