{{page-title "About"}}

<div class="container-full animate__animated animate__fadeIn grad-bg">
    <div class="row no-gutters">
        <div class="container pt-5">
            <MainHeader />
        </div>
    </div>
</div>

<div class="container-full animate__animated animate__fadeIn">
    <div class="row no-gutters">
        <div class="col">
            <SubIntroPanel
                @mainHeader="About" 
                @subHeader="Find out more about me, my skills and download my CV"
            />
        </div>
    </div>
</div>

<div class="container animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-6">
            pic
        </div>
        <div class="col-6">
            text
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col pb-4">
            <hr />
        </div>
    </div>

    <SectionTitle
        @titleText="My skills"
        @padding="pb-5"
    />

    <div class="row no-gutters mb-4">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center px-4">
            <div class="row">
                <div class="col text-center">
                    <h4>Web &amp; UI design</h4>
                </div>
            </div>
            <div class="row">
                <div class="col skills-list">
                    <ul>
                        <li>Design concepts</li>
                        <li>Responsive design</li>
                        <li>Wire frames using Balsamiq</li>
                        <li>Prototyping with Marvel</li>
                        <li>Sketch, Photoshop &amp; Illustrator</li>
                        <li>Logo design</li>
                        <li>Business cards</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center px-4">
            <div class="row">
                <div class="col text-center">
                    <h4 class={{@h4Styling}}>Front End Development</h4>
                </div>
            </div>
            <div class="row">
                <div class="col skills-list">
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Bootstrap</li>
                        <li>JavaScript</li>
                        <li>Ember</li>
                        <li>Handlebars</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center px-4">
            <div class="row">
                <div class="col text-center">
                    <h4 class={{@h4Styling}}>Email Design &amp; Development</h4>
                </div>
            </div>
            <div class="row">
                <div class="col skills-list">
                    <ul>
                        <li>Responsive email design and build</li>
                        <li>Testing in Litmus</li>
                        <li>Debugging</li>
                        <li>Campaign monitor, MailChimp</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center pb-4">
            <button {{action "findOutMoreClicked" }} type="button" title="See more work" class="btn button button__turqoise">Download my CV</button>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col pb-3">
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <MainFooter />
        </div>
    </div>
</div>