{{page-title "Contact"}}

<div class="container-full animate__animated animate__fadeIn grad-bg">
    <div class="row no-gutters">
        <div class="container pt-5">
            <MainHeader />
        </div>
    </div>
</div>

<div class="container-full animate__animated animate__fadeIn">
    <div class="row no-gutters">
        <div class="col">
            <SubIntroPanel
                @mainHeader="Contact" 
                @subHeader="Get in touch, I'd love to hear from you"
            />
        </div>
    </div>
</div>

<div class="container animate__animated animate__fadeIn">
    <div class="row no-gutters">
        <div class="col pb-3">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <MainFooter />
        </div>
    </div>
</div>