<div class="container">
    <div class="row no-gutters">
        <div class="col-md-12 text-center grad-bg">
            <div class="row">
                <div class="main-icon">
                    <SvgDevicesIcon />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1>Designer &amp; Developer</h1>
                    <h2>Hi! I’m <b class="pink">Claire</b>. I’m a web designer and front-end developer based in West Sussex. I’m passionate about designing and building elegant and engaging experiences.</h2>
                </div>
            </div>
        </div>
    </div>
</div>