<div class="container-fluid text-center">
    <div class="container">
        <div class="row">
            <div class="col intro-panel">
                <div class="row">
                    <div class="col-md-12">
                        <p class="logo"><b>CLAIRE</b> MCINTOSH</p><br />
                        <h1>Website coming soon</h1><br />
                        <MainFooter />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!--<div class="container-full animate__animated animate__fadeIn grad-bg mb-5">
     <div class="row no-gutters">
        <div class="container pt-5">
            <MainHeader />
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
            <IntroPanel
                @mainIcon={{true}}
                @mainHeader="Designer & Developer" 
                @subHeader="Hi! I’m Claire. I’m a web designer and front-end developer based in West Sussex. I’m passionate about designing and building elegant and engaging experiences."
                @action="seeMoreClicked"
            />
        </div>
    </div>
</div>
<div class="container animate__animated animate__fadeIn">
    <div class="row no-gutters">
        <div class="col pb-5">
            <WhatIDo 
                @action="findOutMoreClicked"
            />
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col pb-5">
            <hr />
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col pb-5">
            <WorkHomepage />
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col pb-5">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pb-5">
            <SectionTitle
                @titleText="A bit about me"
                @padding="pb-5"
            />
            <div class="row">
                <div class="col text-center">
                    <p>I grew up in Newcastle upon Tyne but now live in Crawley, West sussex with my partner and son. I have been doing web design for the past 10 years and front end development for the past 5 years. I have experience in working on a range of projects, from a one-page design to web applications.</p>

                    <button {{action "findOutMoreClicked" }} type="button" title="Find out more" class="btn button button__turqoise mt-4">Find out more</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pb-5 text-center box">
            <IconHeaderText 
                @icon="message-icon.svg"
                @iconWidth="54"
                @iconHeight="59"
                @header="Get in touch, I'd love to hear from you!"
                @h4Styling="indexContactHeader"
                @textLink={{true}}
                @text="hello@claire-mcintosh.co.uk"
                @linkUrl="mailto:hello@claire-mcintosh.co.uk"
                @linkStyling="indexContactP"
                @paddingIcon="px-4 pb-4"
                @paddingHeader="px-4 pb-2"
                @paddingText="px-4"
            />
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col pb-3">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <MainFooter />
        </div>
    </div>
</div>
-->